/* body {
    background-color:aqua;
    background-image: url(../images/01-02-02_background-img.jpg);
    background-size: contain; 
} */

body {
    background-color:aqua;
    background-image: url(/assets/images/01-02-02_background-img.jpg);
    background-size: cover;
}

h1 {
    color:blue;
}

h2 {
    color:orangered;
}

p {
    font-weight: bold;
}